Lists

Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

List is a collection of items in a particular order

You can put anything in a list, and items in the list need not be related to each other

In [ ]:
#Creating Lists
myList =[1 , 2 , 3, 4, 5 , 6 ,"Daman" ,[2,5] ]

print(myList)
print(type(myList))

In [ ]:
s = "Python"
s[3] = 'u'

#strings are immutable

In [ ]:

bicycles = ['trek' , 'cannondale' , 'redline',"specialized"]
bicycles[0] = 4
bicycles

In [ ]:
bicycles = ["Python" , 'cannondale' , 'redline',"specialized"]



x2 = bicycles[0:1]             
#x2 = bicycles[1]



print(type(x2))
print(x2)


#Note : - When we'll ask for single item, it'll return without square brackets or quotation marks.

In [ ]:
x1 = bicycles[0]
print(x1)
print(type(x1))

In [ ]:
#Change the case 

print(bicycles[0].lower())

In [ ]:
#Index Position Starts at 0 not 1

mobile_companies = ['Apple' , 'Samsung' ,'Redmi' ,'Oppo' ,'Vivo']

Question : How would you print " Harley-Davidson " using both forward and reverse indexing ?

bikes = ["Ducati" , "Harley-Davidson" , "Roadmaster" ,"BMW" , "Royal Enfield"]

In [ ]:
bikes = ["Ducati" , "Harley-Davidson" , "Roadmaster" ,"BMW" , "Royal Enfield"]
print(bikes[1])
print(bikes[-4])

In [ ]:
bikes = ["Ducati" , "Harley-Davidson" , "Roadmaster" ,"BMW" , "Royal Enfield"]

#single_value =bikes[2]
#print(type(single_value))
print(bikes[-3])

sub_slice = bikes[2:2]

#string[start : end]
print(type(sub_slice))
print(sub_slice)

In [ ]:
bikes = ["Ducati" , "Harley-Davidson" , "Roadmaster" ,"BMW" , "Royal Enfield"]

#print(bikes[2])
#print(bikes[-3])

print(bikes[-3:-4:-1])

In [ ]:
print(bikes)
#Using individual values from a List
message = "My next bike would be " +bikes[-1]
print(message)
print("My next bike would be " +bikes[-1])

In [ ]:
#Changing, Adding and Removing Elements


mobile_companies = ['Apple' , 'Samsung' ,'Redmi' ,'Oppo' ,'Vivo']
mobile_companies[1] = [4,5,6]

print(mobile_companies)

Adding Elements to the List

In [ ]:
#Adding at end
mobile_companies = ['Apple' , 'Samsung' ,'Redmi' ,'Oppo' ,'Vivo']
mobile_companies.append('nokia')
print(mobile_companies)

In [ ]:
mobile_companies.append('nokia')
print(mobile_companies)

In [ ]:
#Question : If I want to add "xyz" at the end

mobile_companies.append("xyz")
mobile_companies

In [ ]:

mobile_companies = ['Apple' , 'Samsung' ,'Redmi' ,'Oppo' ,'Vivo']

#Inserting into the List
#Inserting at position 0
mobile_companies.insert(2, " Lenovo")
#mobile_companies[1] = "Lenovo"
mobile_companies

mobile_companies = ['Apple' , 'Samsung' ,'Redmi' ,'Oppo' ,'Vivo']
Question: Make the changes so that resultant list should look like:
    ['Lenovo','Apple ,'Samsung', 'Redmi','HTC', 'Oppo', 'Vivo', 'nokia']

In [ ]:
mobile_companies = ['Apple' , 'Samsung' ,'Redmi' ,'Oppo' ,'Vivo']

mobile_companies.append("nokia")
mobile_companies.insert(0, "Lenovo")
mobile_companies.insert(4,"HTC")
mobile_companies

In [ ]:
#Task is to add "HTC" and "Nokia"

#Method 1: if we add Htc first

mobile_companies = ['Apple' , 'Samsung' ,'Redmi' ,'Oppo' ,'Vivo']
mobile_companies.insert(4, "HTC")
#print(mobile_companies)


mobile_companies.insert(-1 , "nokia")

mobile_companies.insert(-1 , "nokia")
print(mobile_companies)

In [ ]:
mobile_companies = ['Sony', 'Apple','Samsung', 'Redmi', 'Oppo', 'Vivo', 'nokia']
print(mobile_companies)
mobile_companies.insert(2,"Lenovo")
print(mobile_companies)
mobile_companies.insert(5 ,"HTc")
print(mobile_companies)

Removing Element From The List
    1. Using del
    2. Using Pop
    3. Removing by Value

In [ ]:
#Using del
mobile_companies = ['Sony', 'Apple','Samsung', 'Redmi', 'Oppo', 'Vivo', 'nokia']

print(mobile_companies)
del mobile_companies[5]
print(mobile_companies)

In [ ]:
#Using Pop
mobile_companies = ['Sony', 'Apple','Samsung', 'Redmi', 'Oppo', 'Vivo', 'nokia']

popped_mobile = mobile_companies.pop()

print(mobile_companies)
print(popped_mobile)

In [ ]:
#Removing an Item by Value
mobile_companies = ['Sony', 'Apple','Samsung', 'Sony', 'Sony', 'Redmi', 'Oppo', 'Vivo', 'nokia', 'Sony']

mobile_companies.remove('Apple')
print(mobile_companies)
mobile_companies.remove('Sony')
print(mobile_companies)

In [ ]:
Not_Available = "Sony"
mobile_companies.remove(Not_Available)
mobile_companies

In [ ]:
#Remove will delete only first occurrence of the element

Find Length of the List

In [ ]:
print(mobile_companies)
len(mobile_companies)

In [ ]:
s = "Daman"
len(s)

Find Reverse of a List

In [ ]:
print("1" , mobile_companies)
print("2" , mobile_companies[::-1])
print("3" , mobile_companies)

#2.
mobile_companies.reverse()
print("4" ,mobile_companies)

Sorting a List

Sort vs Sorted
Sort :- Sorting a List Permanently
Sorted :- Sorting a List Temporarily

In [ ]:
bikes = ["ducati" , "harley-Davidson" , "roadmaster" ,"bMW" , "royal Enfield"]
bikes.sort()
print(bikes)

In [ ]:
bikes

In [ ]:
#To sort in reverse
bikes.sort(reverse = True)
bikes

In [ ]:
print(bikes)
bikes.append('bMW')
print(bikes)
print(bikes.index("bMW"))
bikes.count("bMW")

In [ ]:
bikes = ["ducati" , "harley-Davidson","fsvs","srsr","srgs" , "bMW" ,"roadmaster" ,"xbW" , "woyal Enfield"]
print(sorted(bikes , reverse = True))
print(bikes)

In [3]:
bikes = ["ducati" , "harley-Davidson","fsvs","srsr","srgs" ]#, "bMW" ,"roadmaster" ,"xbW" , "woyal Enfield"]

In [ ]:
#To print each element of list
print(bikes[0])
print(bikes[1])
print(bikes[2])
print(bikes[3])
print(bikes[4])

Loop: To perform same action on every item of the list

In [ ]:
print(bikes)

In [ ]:
#Looping Through Entire List
#print(bikes)
#for bike in bikes:
#    print(bike)
#    print("I love to ride\n")
#    print("Demo")
    
    
list1 = [1 ,2 , 3 ,4 ,5]
for num in list1:
    print(num)

In [ ]:
list1 = [1 ,2 , 3 ,4 ,5]
for num in list1:
    print(num)
    print("Hi")
    print("Bye")

In [ ]:
s = "Daman"

for chf7ugisbar in s:
    print(chf7ugisbar)

In [ ]:
bikes = ['a','b','c']
for bike in bikes:
    print(bikes)

In [ ]:
print(len(bikes))
for bike in bikes:
    print("I love " + bike )
    print("I want it\n")

    
print("I love to ride")

Mistakes regarding Indentation

In [ ]:
#Forgetting to Indent
for bike in bikes:
    pass
print("I love " + bike )
print("I want it\n")

In [ ]:
#Forgetting to Indent Additional Line
for bike in bikes:
    print("I love " + bike )
print("I want it\n")

In [ ]:
#Indenting Unnecessarily
    print("I love " + bike )
print("I want it\n")

In [ ]:
#Indenting Unnecessarily after the loop

for bike in bikes:
    print("I love " + bike )
    print("I want it\n")

    print("I love to ride")

In [ ]:
#Forgetting The Colon
for bike in bikes
    print("I love " + bike )
    print("I want it\n")

Making Numerical Lists

In [ ]:
lst = [1,2,3,4]
for value in lst:
    print(value)

In [ ]:
#Using range( ) fnx


for value in range(1,5):
    print(value)

In [ ]:
#Using range to make list of Numbers
numbers = list(range(1 ,6))
numbers

In [ ]:
#Using range to make list of Alternate Numbers
numbers = list(range(0 ,6 , 2))
numbers

QUESTION : Write a command to create a list [3,10,17,24,31]

In [ ]:
list(range(3 , 32 ,7))

In [ ]:
#Program to compute a list of squares of numbers from 0 to 10

squares = []

for num in range(0,11):
    squares.append(num*num)

squares

Statistics with a List of Number

In [ ]:
digits = [34 , 5 , 25 , 6 , 2]
print(min(digits))
print(max(digits))
print(sum(digits))

List Comprehension :  Generate List in one line of code i.e. combining for loop and list creation in single line

In [ ]:
squares = [num**2 for num in range(0,11)]

Slicing a List

In [ ]:
bikes

In [ ]:
#To print complete List
print(bikes[:])

In [ ]:
# To print first 2 elements

In [ ]:
print(bikes[ : 2])

In [ ]:
#To print 2nd, 3rd , 4th and 5th value
print( bikes[1 :])

Copying a List

In [ ]:
non_medical_subjects = ["Phy" , "Chem " , "Eng"]
medical_subjects = non_medical_subjects[:]

non_medical_subjects.append("Maths")
medical_subjects.append("Bio")

print("Non medical Subjects : ")
print(non_medical_subjects)

print("Medical Subjects : ")
print(medical_subjects)

In [ ]:

a = ['m' , 'f' ,'c ']
a.sort()
a

In [ ]:
a = ['m' , 'f' ,'c ']

print(sorted(a))
a

In [ ]:
a = "123"
type(a)

In [ ]:
b = int(a)
type(b)

In [ ]:
a = """Hi
        Hello
        Python"""
print(a)

In [ ]:
myList =[1 , 2 , 3, 4, 5 , 6 ,"Daman" ,[2,5] ]

print(myList)
print(type(myList))

In [ ]:
#Lists are mutable
myList[3] ="Stop"

In [ ]:
myList

In [ ]:
s = "Python3"
len(s)

In [ ]:
bicycles = ['trek' , 'cannondale' , 'redline' , 'specialized']
len(bicycles)

In [ ]:
bicycles[1:4:2]

In [ ]:
bikes  = ["Duccati" , "Harley-Davidson" , "A" , "BMW" , "Enfield" ,"x" ,"y " ,"z"]
a = bikes[2:3]
print(type(a))

In [ ]:
b = bikes[2]
print(type(b))

In [ ]:
bikes  = ["Duccati" , "Harley-Davidson" , "A" , "BMW" , "Enfield" ,"x" ,"y " ,"z"]
bikes[2] = "Roadmaster"

In [ ]:
bikes

In [ ]:
#Adding elements to list
bikes.append("q")

In [ ]:
bikes

In [ ]:
bikes.insert(0 ,"p")
bikes

In [ ]:
bikes

In [ ]:
bikes.append("a")
bikes.insert(2 , "b")
bikes.insert(4, "c")

In [ ]:
bikes

In [ ]:
alp = ["a " ,"b" ,"c" ,"d" ,"e"]
alp.insert(-3, "f")

In [ ]:
alp

In [ ]:
#Removing the elements
alp = ["a " ,"b" ,"c" ,"d" ,"e"]

In [ ]:
del alp[3]

In [ ]:
alp

In [ ]:
popped_alp = alp.pop(2)

In [ ]:
alp

In [ ]:
popped_alp

In [ ]:
alp.append('b')

In [ ]:
alp

In [ ]:
alp.remove('e')

In [ ]:
alp.remove('b')

In [ ]:
alp

In [ ]:
#sort and sorted

In [ ]:
alp

In [ ]:
alp.sort(reverse = True)

In [ ]:
alp

In [ ]:
print(sorted(alp))

In [ ]:
alp

In [ ]:
#sort - >Permanent
#sorted ->Temp

In [ ]:
alp.append(2)

In [ ]:
alp

In [ ]:
alp.sort()

In [ ]:
#Tuple
t = (2 , 4 , 5.0 , "Daman" ,"p" , 5 , 5 , 5, 5.0)

In [ ]:
len(t)

In [ ]:
t.index(5)

In [ ]:
t.count(5)

In [ ]:
5 == 5.0

In [ ]:
t[3] = 4

In [ ]:
t1  = (1,23)

In [ ]:
t2 = (23, 12)

In [ ]:
t1+t2

In [ ]:
t = (1, 2)

In [ ]:
t = (3,4)

In [ ]:
t

In [ ]:
t1 -t2

In [ ]:
t

In [ ]:
list(t)

In [ ]:
tuples

In [ ]:
#sets

In [ ]:
x = set()

In [ ]:
x.add(1)

In [ ]:
x

In [ ]:
x[1]

In [ ]:
x.add(2)

In [ ]:
x

In [ ]:
x.add(3)

In [ ]:
x

In [ ]:
x.add(3)

In [ ]:
x

In [ ]:
x.add("f")

In [ ]:
x

In [ ]:
list1 = [3 ,3 , 5 , 2 ,7 , 3, 8,1 ,3 ,4 , 6, 8,5]

#How we can find unique elements from list

In [ ]:
list == set

In [ ]:
#Boolean

In [ ]:
X = True

In [ ]:
print(type(X))

In [ ]:
z  = 9>8
z

In [ ]:
#None Placeholder

In [ ]:
b = None

In [ ]:
type(b)

In [ ]:
x = 3
print("My marks are" , x)

In [ ]:

print("My marks are" + x)

In [ ]:
y = "Python"
print(y , "is great")

In [ ]:

print(y + "is great")

In [ ]:
bikes = ['a' , 'b' ,'c' ,'d']

print(bikes[0])
print(bikes[1])
print(bikes[2])
print(bikes[3])

In [ ]:
for ele in bikes:
    print("I like " +ele)

In [ ]:
print(bikes)

In [ ]:
s = " Python"
for aha in s:
    print(aha)

In [ ]:
s = ((1,2) ,(3,4) ,(5,6))
len(s)

In [ ]:
for pair in s:
    continue
print(pair)
print("Hi")
    
print("Bye")

In [ ]:
for p1 , p2 in s:
    print(p1)

In [ ]:
#@Question : Print first 10 natural numbers
#we can define s=1 and then with the help of for loop we can print it by adding s++ at the end.
#while 
s = 1
while s <11:
    print(s)
    s+=1

list1 = [1,2,3,4,5,6,7,8,9,10]
for l in list1:
    print(l)

In [ ]:
for value in range(1 , 11):
    print(value)

In [ ]:
list(range(1 , 11 ,2))

In [ ]:
#Make a list of output of table of 3
list(range(3 ,31, 3))

In [ ]:
list(3,31,3)

In [ ]:
s = "Daman"
s[2] = 'd'