Tuples

In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

1.) Constructing Tuples
2.) Basic Tuple Methods
3.) Immutability
4.) When to Use Tuples

In [1]:
#t = [ 1, 34, 5]
#print(type(t))
#creating tuple
t = (1,2,3 , 6 ,66 , "Daman" , (4,5) , {'a' :34 , 'b' :45} ,'False' ,[4 ,5] ,{2,3})

In [2]:
t[1:8 :2]

(2, 6, 'Daman', {'a': 34, 'b': 45})

In [3]:
#basic methods
# Check len just like a list
len(t)

11

In [5]:
# Can also mix object types
t = ('one',2 , 4 , 'Great' , 2 , 2)

# Show
t[-3] = 8

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Use indexing just like we did in lists
print(t[0])
t[0]

In [ ]:
# Slicing just like a list
t[-2]

Basic Tuple Methods

In [7]:
t = ("Daman" , 5 , 56 ,6 ,6 ,6 )

In [8]:
# Use .index to enter a value and return the index
#t.index('Great')
t.index(6)
#t[0]

3

In [10]:
# Use .count to count the number of times a value appears
t.count(6)

3

In [ ]:
#Immutability
t

In [ ]:
t[0]= 'change'

In [11]:
#Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#When to use Tuples

In [12]:
t = (1 , 2 , 4)
t = ( 1 ,2 , 4 , 6)
#t = ("Daman" , "Python")

In [13]:
t

(1, 2, 4, 6)

In [ ]:
t = (1,2 ,1)
t.index(1)

In [ ]:
name = "Daman"
name = "Daman Virdi"

In [ ]:
name

t= 10                -->int
t = 10.0             -->float
t = "10"             -->string
t = [10,20]          -->list
t = (10,20)          -->tuple
t = {'a' : 10}       --->dict

In [14]:
t = ("10" ,"20")
type(t[1])

str

In [16]:
t = ("4") 
type(t)

str

In [17]:
t = (4 , )

In [18]:
type(t)

tuple

In [21]:
t = (1,2,3 , 6 ,66 , "Daman" , (4,5) , {'a' :34 , 'b' :45} ,'False' ,[4 ,5] ,{2,3})  
t[-2]

[4, 5]